!!!

.container
  %img.featured-image(src="../images/ftfeatured.png")  
.container
  %br
  .button
    = link_to "Register Now" , "#"
  %br
  %h1 Today's Featured Speakers
.container
  %table#speakers.table2
    %tr
      %td  
        %table.table2
          %tr
            %td
              %img.speaker-img(height=182 src="http://placehold.it/200x200/111&text=Speaker" width=182)
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
            %td
              %img.speaker-img(height=182 src="http://placehold.it/200x200/111&text=Speaker" width=182)
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
            %td
              %img.speaker-img(height=182 src="http://placehold.it/200x200/111&text=Speaker" width=182)
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
        %h1 Confirmed Government Speakers
        %table.table2
          %tr
            %td
              %ul
                %li
                  %span.list-name  Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
            %td
              %ul
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
.container
  %br
  .button
    = link_to "View all speakers" , "#"
  %br
%h1 Sponsors
.sponsor-container
  - data.sponsors.sponsors.each_with_index do |imgcontainer|
    .imgcontainer2(align="center")
      %a{href: "#{imgcontainer.link}"}
        %img{valign: "middle", alt: "#{imgcontainer.name}", src: "#{imgcontainer.image}", width: 60}
.container
  %br
  .button
    = link_to "Find out more" , "#"





    

  




     



    


 
