!!!

.container
  %img.featured-image(src="http://placehold.it/600x500/333333&text=Featured Image") 
.container
  .button
    = link_to "Register Now" , "#"
  %h1.center Just Announced Featured Speaker
.container
  %table#speakers.table4
    %tr
      %td  
        %table.table4
          %tr
            %td
              %img.speaker-img(height="350" src="http://placehold.it/350x350/111&text=Speaker" width="350")
              %table.speaker-text.table4
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
            
        %h1 Confirmed Government Speakers
        %table.table2
          %tr
            %td
              %ul
                %li
                  %span.list-name  Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
            %td
              %ul
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
.container
  .button
    = link_to "View all speakers" , "#"
%h1 Sponsors
.sponsor-container
  %table
  - data.sponsors.sponsors.each_with_index do |td|
    %tr
      %td(align="center")
        .imgcontainer2(align="center")
          %a{href: "#{td.link}"}
            %img{height: 98, src: "#{td.image}", width: 98}
.container
  .button
    = link_to "Find out more" , "#"





    

  




     



    


 
